# ignore kadai1-report.docx
/enshu5-01/kadai1-report.docx
# ignore kadai1-report.pdf
/enshu5-01/kadai1-report.pdf

# ignore kadai2-report.docx
/enshu5-02/kadai2-report.docx
# ignore kadai2-report.pdf
/enshu5-02/kadai2-report.pdf

